# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Libraries
*.a
*.la
*.lo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# FastText Models
*.pc
*.bin

# Tester Executable
tgcat-tester
